.background {
    background-color: #F8F9FA;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description section {
    max-width: 800px;
    padding: 80px;
}

image {
    text-align: center;
}